* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    display: flex;
    position: fixed;
    background-color: white;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: flex-end;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 30px;
}


nav ul li a {
    text-decoration: none;
    color: #222831;
    padding: 20px;
}

nav ul li a:hover {
    color: #EEEEEE;
    background-color: #222831;
}

/* HOME */

#home {
    padding: 100px 0 100px 0;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}

.home h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 50px;
    color: rgb(61, 61, 61);
}

.home p {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 23px;
    color: rgb(139, 139, 139);
}

/* CONTENT */

.content {
    display: flex;
    justify-content: center;
    margin-right: 100px;
    margin-left: 100px;
    gap: 30px;
}

.img img {
    object-fit: contain;
    width: 100%;
}

.img p {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 23px;
    color: rgb(139, 139, 139);
}

.contact {
    background-color: #EEEEEE;
    border-radius: 8px;
    padding: 80px;
}

.contact h2 {
    display: flex;
    font-size: 40px;
    color: rgb(61, 61, 61);
}

.contact p {
    display: flex;
    margin-top: 20px;
    color: rgb(139, 139, 139);
}

/* FORM LABEL */

.form-label {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.form-label label {
    font-size: 20px;
    font-weight: bold;
    color: rgb(61, 61, 61);
}

.form-label input {
    font-size: 20px;
    margin-top: 20px;
    padding: 20px;
    border-color: rgb(139, 139, 139);
    border-radius: 5px;
}

.form-submit {
    text-align: center;
    margin-top: 80px;
}

.form-submit a {
    text-decoration: none;
    color: #EEEEEE;
    background-color: #222831;
    border: 2px solid #222831;
    padding: 20px;
    border-radius: 8px;
    padding-left: 45%;
    padding-right: 45%;
    transition: 0.3s;
}

.form-submit a:hover {
    color: #222831;
    background-color: #EEEEEE;
    border: 2px solid #222831;
}

/* TESTI */

.testi {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    margin: 50px;
}

.testi-img {
    width: 70px;
    color: rgb(139, 139, 139);
}

.about p {
    font-size: 30px;
    font-weight: bold;
    color: rgb(61, 61, 61);
}

/* ABOUT INFO */
.one {
    display: flex;
    align-items: center;
}

.one h3 {
    padding: 20px;
    border-radius: 50%;
    width: 21px;
    height: 21px;
    background-color: #EEEEEE;
}

.one p {
    color: rgb(139, 139, 139);
    font-size: 25px;
    font-weight: normal;
}

/* OUR PACKAGE */

.title {
    background-color: #EEEEEE;
    padding: 15vh 0 15vh 0;
}

.title h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 50px;
    color: rgb(61, 61, 61);
}

.packages {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 60px 100px 100px 100px;
}

.packages>.package {
    flex: 1 1 30%;
}

.package h1 {
    font-size: 30px;
    color: #222831;
}

.package p {
    padding: 20px 0 0 0;
    font-size: 25px;
}

/* CONTACT CONTENT */
.contact_content {
    padding: 100px;
}

.contact_head {
    text-align: center;
}

.contact_head h1 {
    font-size: 50px;
    color: #222831;
    padding: 0 0 20px 0;
}

.contact_head p {
    font-size: 25px;
    color: rgb(139, 139, 139);
    padding: 20px 0 20px 0;
}

.contact_button {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.contact_button a {
    color: #EEEEEE;
    background-color: #222831;
    border: 2px solid #222831;
    padding: 30px 120px 30px 120px;
    font-size: 30px;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.3s;
}

.contact_button a:hover {
    color: #222831;
    background-color: #EEEEEE;
}

/* FOOTER */
footer {
    padding: 50px;
}

.footer_content {
    text-align: center;
}

.footer_title {
    font-size: 20px;
}

.footer_child {
    padding: 20px 0 20px 0;
    font-size: 25px;
    color: rgb(139, 139, 139);
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer_end {
    font-size: 25px;
    color: rgb(139, 139, 139);
}

/* RESPONSIVE */

@media only screen and (max-width: 768px) {
    nav {
        justify-content: center;
    }

    .content {
        flex-direction: column;
    }
}

@media only screen and (max-width: 512px) {
    .content {
        margin: 0 20px 0 20px;
    }

    .contact {
        padding: 50px 40px 100px 40px;
    }

    .packages {
        padding: 60px 20px 100px 20px;
    }

    .packages>.package {
        flex: 1 1 100%;
    }
}